<!-- Titulo del componente -->
<div><h2>{{title}}</h2></div>
<div><h3>Gestión de usuarios</h3></div>
<!-- usuarios pendientes de confirmar datos -->
<a routerLink="/Invitaciones">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content" >
      <div>
        <p class="title">Enviar invitación </p>
        <p class="sub-title">Envio de invitaciones  </p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-paper-plane fa-lg" aria-hidden="false"></i>
        <span class="n-info">
          <p class="fiori-like-card-number"> 30 </p>
           <span class="meta">
             Enviadas
           </span>
        </span>
      </div>
    </div>
  </div>
</a>
<!-- usuarios que ya confirmaron sus datos -->
<a routerLink="/Nuevos">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Nuevos usuarios </p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-users fa-lg" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 3 </p>
            <span class="meta"> `   </span>
          </span>
      </div>
    </div>
  </div>
</a>
<!-- usuarios pendientes de confirmar datos -->
<a routerLink="/SConfirmar">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Invitaciones pendientes </p>
        <!--<p class="sub-title"></p>-->
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 15 </p>
            <span class="meta">Usuarios</span>
          </span>
      </div>
    </div>
  </div>
</a>

<!-- Restablecer contraseña -->
<a routerLink="/SConfirmar">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Reestablecer contraseña </p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-cogs fa-lg" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 15 </p>
            <span class="meta"> `   </span>
          </span>
      </div>
    </div>
  </div>
</a>

<!-- Eliminar Usuario -->
<a routerLink="/SConfirmar">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Actualizar </p>   
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
          <span class="n-info">
              <p class="fiori-like-card-number"> 15 </p>
              <span class="meta">Socios</span>
            </span>
      </div>
    </div>
  </div>
</a>
<div><br/></div>
<div><h3>Socios de negocio</h3></div>
<!-- usuarios pendientes de confirmar datos -->
<a routerLink="/Invitaciones">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content" >
      <div>
        <p class="title">Registrados </p>
      </div>
      <div class="fiori-like-card-footer">
        <i class="fa fa-university fa-lg" aria-hidden="true"></i>
        <span class="n-info">
            <p class="fiori-like-card-number"> 15 </p>
            <span class="meta">Socios</span>
          </span>
      </div>
    </div>
  </div>
</a>
<a routerLink="/Invitaciones">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content" >
      <div>
        <p class="title">Bloqueados </p>
      </div>
      <div class="fiori-like-card-footer">
        <i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
        <span class="n-info">
            <p class="fiori-like-card-number"> 15 </p>
            <span class="meta">Socios</span>
          </span>
      </div>
    </div>
  </div>
</a>