body{
  background-attachment:fixed;
  background-color:rgb(242, 242, 242);
  background-image: linear-gradient(rgb(223, 242, 243) 0px, rgb(220, 236, 240) 50%, rgb(221, 228, 235) 100%);
  padding: 30px;
  box-sizing: border-box;
}

p{
  margin: 0;
}

.fiori-like-card.tile-2x{
  width: 340px;
  
}

.fiori-like-card{
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  display: inline-block;
  margin: 2px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  transition: box-shadow 0.3s ease-in-out;
}

.fiori-like-card:hover{
  box-shadow: 2px 2px 5px #565656;
  transition: box-shadow 0.3s ease-in-out;
  transform: scale(1.02);
}

.fiori-like-card-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.fiori-like-card .title{
    font-size: .6rem;
    max-height: 3.4rem;
    padding-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: black;
}
.fiori-like-card .sub-title{
   font-size: 0.530rem;
  max-height: 3.4rem;
  color: #878787;
}

.margin-none{
  margin:0;
}

.fiori-like-card .fiori-like-card-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: rgb(49, 4, 211);
}

.fiori-like-card .n-info{
  display: flex;
  flex-direction: column;
/*   justify-content:flex-end; */
  align-items: flex-end;
  
}

.fiori-like-card .n-info .fiori-like-card-number{
  font-size: 2rem;
  color:#838E92;
}

.fiori-like-card .n-info .meta{
  color: #878787;
  font-size: 0.475rem;
}

.danger{
  color: red !important;
}