<!-- Titulo del componente -->
<div><h2>Usuarios</h2></div>
<!-- usuarios pendientes de confirmar datos -->
<a routerLink="/Invitaciones">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content" >
      <div>
        <p class="title">Invitaciones </p>
        <p class="sub-title">Envio de invitaciones  </p>
      </div>
      <div class="fiori-like-card-footer">
        <i class="fa fa-paper-plane fa-3x" aria-hidden="true"></i>
        <span class="n-info">
          <p class="fiori-like-card-number"> 30 </p>
           <span class="meta">
             Enviadas
           </span>
        </span>
      </div>
    </div>
  </div>
</a>
<!-- usuarios que ya confirmaron sus datos -->
<a routerLink="/Nuevos">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Nuevos </p>
        <p class="sub-title">Confirmados</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-user fa-3x" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 3 </p>
             
          </span>
      </div>
    </div>
  </div>
</a>
<!-- usuarios pendientes de confirmar datos -->
<a routerLink="/SConfirmar">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Nuevos </p>
        <p class="sub-title">Sin confirmar</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 15 </p>
             <span class="meta">
               Pendientes
             </span>
          </span>
      </div>
    </div>
  </div>
</a>


