<!-- Titulo del componente -->
<div><h2>Usuarios</h2></div>
<!-- usuarios pendientes de confirmar datos -->
<a routerLink="/Invitaciones">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content" >
      <div>
        <p class="title">Invitaciones </p>
        <p class="sub-title">Enviadas  </p>
      </div>
      <div class="fiori-like-card-footer">
        <i class="fa fa-paper-plane fa-3x" aria-hidden="true"></i>
        <span class="n-info">
          <p class="fiori-like-card-number"> 30 </p>
           <span class="meta">
             Enviadas
           </span>
        </span>
      </div>
    </div>
  </div>
</a>
<!-- usuarios que ya confirmaron sus datos -->
<a routerLink="/Nuevos">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Nuevos </p>
        <p class="sub-title">Datos confirmados</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-user fa-3x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</a>
<!-- usuarios pendientes de confirmar datos -->
<a routerLink="/SConfirmar">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Sin confirmar </p>
        <p class="sub-title">Datos pendientes</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 15 </p>
             <span class="meta">
               Pendientes
             </span>
          </span>
      </div>
    </div>
  </div>
</a>
<!-- Lista de proveedores -->
<a routerLink="/Proveedores">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Proveedores </p>
        <p class="sub-title">Actualizados</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 5 </p>
             <span class="meta">
               No registrados
             </span>
          </span>
      </div>
    </div>
  </div>
</a>


<!-- Titulo del componente -->
<div><h2>Proveedores</h2></div>
<!-- usuarios pendientes de confirmar datos -->
<a routerLink="/Utileria">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content" >
      <div>
        <p class="title">Invitaciones </p>
        <p class="sub-title">Enviadas  </p>
      </div>
      <div class="fiori-like-card-footer">
        <i class="fa fa-paper-plane fa-3x" aria-hidden="true"></i>
        <span class="n-info">
          <p class="fiori-like-card-number"> 30 </p>
           <span class="meta">
             Enviadas
           </span>
        </span>
      </div>
    </div>
  </div>
</a>
<!-- usuarios pendientes de confirmar datos -->
<a routerLink="/Utileria">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Sin confirmar </p>
        <p class="sub-title">Datos pendientes</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 15 </p>
             <span class="meta">
               Pendientes
             </span>
          </span>
      </div>
    </div>
  </div>
</a>
<!-- Lista de proveedores -->
<a routerLink="/Utileria">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Proveedores </p>
        <p class="sub-title">No registrados</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 5 </p>
             <span class="meta">
               No registrados
             </span>
          </span>
      </div>
    </div>
  </div>
</a>

<!-- Titulo del componente -->
<div><h2>Facturas</h2></div>
<!-- usuarios pendientes de confirmar datos -->
<a routerLink="/Utileria">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content" >
      <div>
        <p class="title">Invitaciones </p>
        <p class="sub-title">Enviadas  </p>
      </div>
      <div class="fiori-like-card-footer">
        <i class="fa fa-paper-plane fa-3x" aria-hidden="true"></i>
        <span class="n-info">
          <p class="fiori-like-card-number"> 30 </p>
           <span class="meta">
             Enviadas
           </span>
        </span>
      </div>
    </div>
  </div>
</a>
<!-- usuarios que ya confirmaron sus datos -->
<a routerLink="/Utileria">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Nuevos </p>
        <p class="sub-title">Datos confirmados</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-user fa-3x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</a>
<!-- usuarios pendientes de confirmar datos -->
<a routerLink="/Utileria">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Sin confirmar </p>
        <p class="sub-title">Datos pendientes</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 15 </p>
             <span class="meta">
               Pendientes
             </span>
          </span>
      </div>
    </div>
  </div>
</a>
<!-- Lista de proveedores -->
<a routerLink="/Utileria">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Proveedores </p>
        <p class="sub-title">No registrados</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 5 </p>
             <span class="meta">
               No registrados
             </span>
          </span>
      </div>
    </div>
  </div>
</a>

<!-- Titulo del componente -->
<div><h2>Utilerias</h2></div>
<!-- usuarios pendientes de confirmar datos -->
<a routerLink="/Utileria">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content" >
      <div>
        <p class="title">Invitaciones </p>
        <p class="sub-title">Enviadas  </p>
      </div>
      <div class="fiori-like-card-footer">
        <i class="fa fa-paper-plane fa-3x" aria-hidden="true"></i>
        <span class="n-info">
          <p class="fiori-like-card-number"> 30 </p>
           <span class="meta">
             Enviadas
           </span>
        </span>
      </div>
    </div>
  </div>
</a>
<!-- usuarios que ya confirmaron sus datos -->
<a routerLink="/Utileria">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Nuevos </p>
        <p class="sub-title">Datos confirmados</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-user fa-3x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</a>
<!-- usuarios pendientes de confirmar datos -->
<a routerLink="/Utileria">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Sin confirmar </p>
        <p class="sub-title">Datos pendientes</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 15 </p>
             <span class="meta">
               Pendientes
             </span>
          </span>
      </div>
    </div>
  </div>
</a>
<!-- Lista de proveedores -->
<a routerLink="/Utileria">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Proveedores </p>
        <p class="sub-title">No registrados</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 5 </p>
             <span class="meta">
               No registrados
             </span>
          </span>
      </div>
    </div>
  </div>
</a>
<a routerLink="/Utileria">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Nuevos </p>
        <p class="sub-title">Datos confirmados</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-user fa-3x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</a>
<!-- usuarios pendientes de confirmar datos -->
<a routerLink="/Utileria">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Sin confirmar </p>
        <p class="sub-title">Datos pendientes</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 15 </p>
             <span class="meta">
               Pendientes
             </span>
          </span>
      </div>
    </div>
  </div>
</a>
<!-- Lista de proveedores -->
<a routerLink="/Utileria">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Proveedores </p>
        <p class="sub-title">No registrados</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number"> 5 </p>
             <span class="meta">
               No registrados
             </span>
          </span>
      </div>
    </div>
  </div>
</a>
