<div class="bs-example">
    <div class="panel panel-default">
        <div class="panel-body">
          Arrastra aquí el los archivos de la factura
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <hr>
          
          <br/>
          <h1>Datos de la factura</h1>
          <ul>
            <li>Fecha de Facturación    :</li>
            <li>Moneda                  :</li>
            <li>Fecha base              :</li>
            <li>Fecha de vencimiento    :</li>
            <li>Cantidades totales      :</li>
            <li>Montos totales          :</li>
            <li>Cantidades por posición :</li>
            <li>Montos por posición     :</li>
            <li>Texto por posición      :</li>
            <li>Método de pago          :</li>
            <li>Montos impuestos        :</li>
            <li>Estado                  : </li>
          </ul>
          <hr>
          <a href="/Usuarios"><p>Volver</p></a>
        </div>
    </div>
</div>
