.fiori-like-card.tile-2x{
  width: 340px;
}

.fiori-like-card{
  background: #fff;
  width: 160px;
  height: 160px;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  transition: box-shadow 0.3s ease-in-out;
}

.fiori-like-card:hover{
  box-shadow: 2px 2px 5px #565656;
  transition: box-shadow 0.3s ease-in-out;
  transform: scale(1.02);
}

.fiori-like-card-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.fiori-like-card .title{
    color: black;
    font-size: 1.4rem;
    max-height: 2.4rem;
    padding-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Raleway', sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.fiori-like-card .sub-title{
   font-size: 0.875rem;
   color: #878787;
}

.margin-none{
  margin:0;
}

.fiori-like-card .fiori-like-card-footer{
/*   position: relative;
  top: 80px; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fiori-like-card .n-info{
  display: flex;
  flex-direction: column;
/*   justify-content:flex-end; */
  align-items: flex-end;
}

.fiori-like-card .n-info .fiori-like-card-number{
  font-size: 2rem;
  color:#838E92;
}

.fiori-like-card .n-info .meta{
  color: #878787;
  font-size: 0.875rem;
}

.danger{
  color: red !important;
}
