<div><h1>{{title}}</h1></div>
<a routerLink="/GestionCargas">
  <div class="fiori-like-card">
      <div class="fiori-like-card-content">
        <div>
          <p class="title">Ordenes</p>
          <p class="sub-title">Messages</p>
        </div>
        <div class="fiori-like-card-footer">
            <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number">
              13
            </p>
            <span class="meta danger">
               Pending Items
            </span>
          </span>
        </div>
      </div>
    </div>
</a>
<a routerLink="/GestionCargas">
  <div class="fiori-like-card">
      <div class="fiori-like-card-content">
        <div>
          <p class="title">My Time Events whitout subtitle</p>
        </div>
        <div class="fiori-like-card-footer">
            <i class="fa fa-ellipsis-h fa-3x" aria-hidden="true"></i>
          <span class="n-info">
            <p class="fiori-like-card-number">
              5
            </p>
            <span class="meta">
               Pending Plans
            </span>
          </span>
        </div>
      </div>
    </div>
</a>
