<div class="bs-example">
    <div class="panel panel-default">
        <div class="panel-body">
          <h1>Descripción</h1>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>          
          <br/>
          
         
          <hr>
          <a href="/Usuarios"><p>Volver</p></a> <a href="/Usuarios"><p>Enviar</p></a> 
        </div>
    </div>
</div>
