.form-container {
flex-grow: 1;
display: flex;
justify-content: center;
align-items: center;
width:45%;
padding:2em;
margin: 2em auto;
background:#fff;
border-radius:4px;
}

.alert {
    background: #f44336;
    padding: 5px;
    font-size: .3em;
    margin-bottom: 10px;
    display: inline-block;
    animation: 1s alertAnim forwards;
}

.button {
    margin-top: 3rem;
}
h1{
font-size: 30px; /*281217*/
font-family : 'Raleway', sans-serif;
color : #263238;
}


@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateX(-20px);
    }
    to {
        opacity:2;
        transform: translateX(20);
    }
}


div.input {
	position: relative;
	margin-top: 3rem;
}

div.input label { /*Estilo para las etiquetas*/
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 10px;
	background: #fff;
	padding: 0px 1.5px;
	border-radius:2.5px;
}

div.input input { /*Estilo para campo de texto*/
	padding: 0px 20px;
	font-size: 20px;
	outline: 0;
	border-radius:4px;
}

div.input { /*Maerca la division que hay entre los elementos */
	margin-top: 25px;
}

div.envio{ /*Maerca la division que hay entre los elementos */
	font-size: 25px;
	left: 50px;
	background: #4fc3f7;
}
