
<!-- -->
<div class="col-md-3">
    
    <div class="input-group" id="adv-search">
        <input type="text" class="form-control" placeholder="Buscar" />
        <div class="input-group-btn">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>

<div class="scrollbar" id="style-16">
    <div class="force-overflow">
    <ul class="list-group" >
        <option *ngFor="let pedido of pedidos">    
            <div class="fiori-like-card">
                <div class="fiori-like-card-content">
                    <div class="fiori-like-card-footer ">
                        {{pedido.pedido}}
                        <span class="n-info">
                            <p class="fiori-like-card-number">  {{pedido.monto}} </p>  
                        </span>
                    </div>
                    <div class="fiori-like-card-footer">
                        {{pedido.fechaPedido}}
                        <span class="n-info">
                            <p class="fiori-like-card-number danger">  {{pedido.estado}} </p>       
                        </span>
                    </div>
                </div>
            </div> 
        </option>
    </ul> 
    </div>
</div> 
    </div>

<div class="col-md-9">
    <table class="table table-responsive">
        <thead>
          <tr>
            <th colspan="2">Órdenes de venta </th>
            <th colspan="2">0.00        </th>
          </tr>
        </thead>
        <tbody>
            <tr >   
                <td>Orden de compra     </td> 
                <td *ngIf="muestra">VALOR PO            </td> 
                <td>Total del pedido    </td> 
                <td *ngIf="muestra">VALOR Order total   </td>     
            </tr> 
            <tr >   
                <td>Pedido              </td> 
                <td *ngIf="muestra">VALOR requested     </td> 
                <td>Estado general      </td> 
                <td *ngIf="muestra">VALOR Overall Status</td>       
            </tr>
            <tr>
                <td>Enviar a             </td> 
                <td *ngIf="muestra">VALOR Ship to        </td>
                <td>                     </td>
                <td>                     </td>
            </tr>         
        </tbody>
      </table>
    <hr>
    <table class="table table-responsive">
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Ordenado</th>
            <th>Precio</th>
            <th>Importe neto </th>
            <th>Resumen de estado </th>
            <th>Enviado</th>
          </tr>
        </thead>
        <tbody>
          <tr >
           <!-- Valores para unidades -->
          </tr>
          
        </tbody>
      </table>
</div>
        


