<!--The content below is only a placeholder and can be replaced.-->
<div ><h1>{{title}}</h1></div>
<!-- -->

  <div class="fiori-like-card">
    <div class="fiori-like-card-content" >
      <div>
        <p class="title">Invitaciones </p>
        <p class="sub-title">Enviadas  </p>
      </div>
      <div class="fiori-like-card-footer">
        <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
        <span class="n-info">
          <p class="fiori-like-card-number"> 30 </p>
           <span class="meta">
             Enviadas
           </span>
        </span>
      </div>
    </div>
  </div>


  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Nuevos usuarios </p>
        <p class="sub-title">Datos confirmados</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-user fa-3x" aria-hidden="true"></i>
      </div>
    </div>
  </div>



<!-- -->
<!--
<p [hidden]="!visible">
  Adiós
</p>

<button (click)="decirAdios()">Decir adiós</button>
<br/>
<button (click)="decirHola()">Decir hola</button>

<div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">My Inbox</p>
        <p class="sub-title">Messages</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
        <span class="n-info">
          <p class="fiori-like-card-number">
            13
          </p>
          <span class="meta danger">
             Pending Items
          </span>
        </span>
      </div>
    </div>
  </div>

<div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">My Time Events whitout subtitle</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-ellipsis-h fa-3x" aria-hidden="true"></i>
        <span class="n-info">
          <p class="fiori-like-card-number">
            5
          </p>
          <span class="meta">
             Pending Plans
          </span>
        </span>
      </div>
    </div>
  </div>

<div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Service Orders</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true"></i>
        <span class="n-info">
          <p class="fiori-like-card-number ">
            10
          </p>
          <span class="meta danger">
             Pending
          </span>
        </span>
      </div>
    </div>
  </div>

 -->
