<div class="bs-example">
    <div class="panel panel-default">
        <div class="panel-body">
          Selecciona una factura 
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <hr>
          
          <br/>
          <h1>Lista de Ordenes de compra</h1>
          <ul>
            <li>Orden de compra 1</li>
            <li>Orden de compra 2</li>
            <li>Orden de compra 3</li>
            <li>Orden de compra 4</li>
            <li>Orden de compra 5</li>
            <li>Orden de compra 6</li>
            <li>Orden de compra 7</li>
            <li>Orden de compra 8</li>
          </ul>
          <h1>Datos de la Orden de compra</h1>
          <ul>
            <li>Fecha de Facturación    :</li>
            <li>Moneda                  :</li>
            <li>Fecha base              :</li>
            <li>Fecha de vencimiento    :</li>
            <li>Cantidades totales      :</li>
            <li>Montos totales          :</li>
            <li>Cantidades por posición :</li>
            <li>Montos por posición     :</li>
            <li>Texto por posición      :</li>
            <li>Método de pago          :</li>
            <li>Montos impuestos        :</li>
            <li>Estado                  : </li>
          </ul>
          <hr>
          <a href="/Usuarios"><p>Volver</p></a>
        </div>
    </div>
</div>
