<div><h1>{{title}}</h1></div>
<a routerLink="/Usuarios">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content" >
      <div>
        <p class="title">Invitaciones </p>
        <p class="sub-title">Enviadas  </p>
      </div>
      <div class="fiori-like-card-footer">
        <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
        <span class="n-info">
          <p class="fiori-like-card-number"> 30 </p>
           <span class="meta">
             Enviadas
           </span>
        </span>
      </div>
    </div>
  </div>
</a>
<a routerLink="/Usuarios">
  <div class="fiori-like-card">
    <div class="fiori-like-card-content">
      <div>
        <p class="title">Nuevos usuarios </p>
        <p class="sub-title">Datos confirmados</p>
      </div>
      <div class="fiori-like-card-footer">
          <i class="fa fa-user fa-3x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</a>
