/* You can add global styles to this file, and also import other style files*/
*{
margin : 0;
padding : 0;
-webkit-box-sizing :border-box;
-moz-box-sizing:border-box;
box-sizing : border-box;
}

a{
font-size: 16px; /*281217*/
text-decoration : none;
color:rgb(8, 8, 8);
}
h1{
font-size: 30px; /*281217*/
font-family : 'Raleway', sans-serif;
color : #fff;
}
h2{
font-size: 20px; /*281217*/
font-family : 'Raleway', sans-serif;
color : #fff;
}

body{
background-image : url("wp.jpg");
line-height : 18px;
font-family : 'Raleway', sans-serif;
}

/*281217*/
.btn {
    margin : 0px;
    padding : 0px;
    font-weight: 200;
    font-size: 16px;
    color: #878787;
    box-sizing : border-box;
  }

  .form-control {
  margin : 0px;
  padding : 0px;
    width: 50px;
    height: 30px;
    background-color:#fff;
    border-radius:2.5px;
  }

/*281217 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css"> quitar si no se usa este css*/










































/*
.btn-menu{
  display : block;
  padding :20px;
  background : #0d2c44;
  color:#fff;
}

.btn-menu icono {
float:right;
}

.contenedor-menu {
width : 15%;
min-width : 200px;
margin : 0px;
display: inline-block;
font-family : 'Raleway', sans-serif;
line-height : 28px;
}

.contenedor-menu .menu{
width : 100%;
}
.contenedor-menu ul{
  list-style:none;
}
.contenedor-menu .menu li a{
  color : #494949;
  display : block;
  padding : 15px 20px;
  background : #e9e9e9;
}

.contenedor-menu .menu li a:hover{
  background : #1a95d5;
  color:#fff;
}

.contenedor-menu .menu .icono{
font-size : 12px;
line-height: 18px;
}

.contenedor-menu .menu .icono.izquierda{
float : left;
margin-right: 10px;
}

.contenedor-menu .menu .icono.derecha{
float : right;
margin-left: 10px;
}

.contenedor-menu .menu ul li a{
  background : #424242;
  color:#e9e9e9;
}
.contenedor-menu .menu ul{
  display : none;
}

.contenedor-menu .menu .activado > a{
  background : #1a95d5;
  color:#fff;
}

@media screen and (max-width:450px){
body{
  padding : 80px;
  .contenedor-menu {
    margin : 0;
    width : 100%;
    position :fixed;
    top : 0;
    z-index:1000;
  }
  .btn-menu{
    display : block;
  }
  .contenedor-menu .menu{
    display : none;
  }
}
    header : 80%;
    height : 100%;
    margin : 0;
    position :fix;
}
*/
